<!DOCTYPE html>
<html>
<head>
<script src="js/category/animal.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
 <body>  
<section class="features_causes">
		<div class="container">
			<div class="main_title">
				<h2>동물</h2>
				<p>후원자의 삶과 함께할 상품을 신중하게 선택하여 장바구니에 담아주세요</p>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
								<figure>
										<img class="card-img-top img-fluid" height="500px" src="img/picture1.jpg" alt="Card image cap">
									</figure>
									<div  class="card_inner_body">
										<h5 style=color:pink>인기</h5>
										<h4 class="card-title">동물행동권 카라-유기견보호</h4>
										<p class="card-text">
											구조된 동물들의 결연자가 되어주세요 단체에서 구조한 동물들중 나이가 많거나 완치가 어려운 질병이 있는 경우, 또는 성격상의 문제로 당장은 입양이 어려운 동물들의 최종 입양이 결정될 때까지 지속적인 후원을 하는 방식입니다.
										</p>
										<div class="d-flex justify-content-between raised_goal">
											<p>현재 후원자: 100명 </p>
											<p><span>기부금액:후원자 임의</span></p>
										</div>
										<div class="d-flex justify-content-between donation align-items-center">
											<a href="#" class="primary_btn">기부</a>
											<p>
												<span class="lnr lnr-cart"></span> cart
												<span class="lnr lnr-heart"></span> 77 Donors</p>
										</div>
									</div>
								</div>
							</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
								<figure>
										<img class="card-img-top img-fluid" src="img/animal1.JPG" alt="Card image cap">
									</figure>
									<div class="card_inner_body">
										<br>
										<h4 class="card-title">유기견 기부 프리마켓-한별중학교</h4>
										
										<p class="card-text">
										매년 1회 실시되는 행사는 전액 모두가 기부되며 유기동물을 위한 사료값과 치료비에 지출됩니다.한별중학교 학생들이 행사를 기획하였스며 기부금을 통해 행사를 운영합니다.
										 </p>
										 
										<div class="d-flex justify-content-between raised_goal">
											<p>현재모금액: 100만원</p>
											<p><span>목표액: 200만원</span></p>
										</div>
										<div class="d-flex justify-content-between donation align-items-center">
											<a href="#" class="primary_btn">기부</a>
											<p>
											<span class="lnr lnr-cart"></span> cart
											<span class="lnr lnr-heart"></span> 70 Donors</p>
											
										</div>
									</div>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/animal2.JPG" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<br>
								<h4 class="card-title">유기견 동물보호 캠페인</h4>
								<p class="card-text">
								기부팔찌 낫애니모어 프로젝트는 판매 수익금 전액 동물보호를 위해 기부 됩니다. <br>
								#NOT ANYMORE 구성품 세이프팔찌(검정1개, 흰색1개), 기념스티커 2장	
								<div style=margin-top:20px> 
									<h5 style="color:gray">판매가 2000원</h5>
								</div>
								
								</p>
								<div class="d-flex justify-content-between raised_goal">
									<p>현재 모금액:100만원</p>
									<p><span>: 목표액: 300만원</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary_btn">기부</a>
									<p>
										<span class="lnr lnr-cart"></span> cart
										<span class="lnr lnr-heart"></span> 450 Donors</p>
								</div>
							</div>
						</div>
					</div>
					<br>
					<a style='margin-left:280px ; font-size:20px' href="#" >more</a>
				</div>
			</div>
		</div>
	
    </section>
</body>
</html>