<!DOCTYPE html>
<html>
<head>
<script src="js/category/grandma.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
 <body>  
<section class="features_causes">
		<div class="container">
			<div class="main_title">
				<h2>위안부할머니</h2>
				<p>후원자의 삶과 함께할 상품을 신중하게 선택하여 장바구니에 담아주세요</p>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/grandma2.PNG" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<br><br>
								<h5 style=color:pink>인기</h5>
								<h4 class="card-title">나눔의집 학생봉사활동</h4>
								
								<p class="card-text">
								나눔의 집에서는 일본어 도우미, 업무보조, 할머니 프로그램 도우미, 주방보조, 할머니 말벗 봉사자, 소식지 작업, 홈페이지 관련 봉사자 등 작은 도움이라도 기꺼이 
								선사해줄 봉사자를 기다립니다.
								 </p>
							
								<div class="d-flex justify-content-between raised_goal">
									<p>현재 봉사자: 80명</p>
									<p><span>누적 봉사자: 1000명</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary_btn">기부</a>
									<p>
									<span class="lnr lnr-cart"></span> cart
									<span class="lnr lnr-heart"></span> 100 Donors</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" height="500px" src="img/grandma1.PNG" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<br>
								<h5 style=color:pink>인기</h5>
								<h4 class="card-title">위안부할머니를 기억하는 프랑스자수 기부 DIY키트</h4>
								<p class="card-text">
								'위안부'할머니를 더 많은 사람들이 기억할 수 있도록 '노란 장미 프랑스 자수 DIY 키트'를 제작하여 판매하고 후원금 전액은 정의기억재단에 기부합니다.	
								</p>
								<div class="d-flex justify-content-between raised_goal">
									<p>현재 후원자: 100명 </p>
									<p><span>기부금액:후원자 임의</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary_btn">기부</a>
									<p>
										<span class="lnr lnr-cart"></span> cart
										<span class="lnr lnr-heart"></span> 77 Donors</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="img/picture3.JPG" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<br><br><br>
								<h5 style=color:pink>special</h5>
								<h4 class="card-title">희움-위안부할머니 의식팔찌</h4>
								<p class="card-text">
								판매 수익금 전액(제품제작의 제반비용을 제외한 수익금)은 일본국 '위안부' 문제해결 활동, 희움
								일본군 '위안부' 역사관 운영기금으로 사용되며, 평화와 여성인권을 존중 하는 미래를 위해 사용합니다.
								<h5 style="color:gray">판매가 2000원</h5>
								</p>
								<div class="d-flex justify-content-between raised_goal">
									<p>현재 모금액:900만원</p>
									<p><span>: 목표액: 1200만원</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary_btn">기부</a>
									<p>
										<span class="lnr lnr-cart"></span> cart
										<span class="lnr lnr-heart"></span> 450 Donors</p>
								</div>
							</div>
						</div>
					</div>
					<br>
					<a style='margin-left:280px ; font-size:20px' href="#" >more</a>
				</div>
			</div>
		</div>
    </section>
</body>
</html>