<!DOCTYPE html>
<html>
<head>
<script src="js/category/kid.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
 <body>  
<section class="features_causes">
		<div class="container">
			<div class="main_title">
				<h2>아동/청소년</h2>
				<p>후원자의 삶과 함께할 상품을 신중하게 선택하여 장바구니에 담아주세요</p>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
								<figure>
										<img class="card-img-top img-fluid" src="img/kid2.PNG" alt="Card image cap">
									</figure>
									<div class="card_inner_body">
										<br><br>
									
										<h4 class="card-title">서래마을 어린이 도서관 지원</h4>
										<p class="card-text">
										지역주민과 어린이들에게 독서를 통한 휴식공간을 제공하고 편안하게 책을 즐길 수 있는 공간을 지원합니다.
								
										</p>
										<div class="d-flex justify-content-between raised_goal" style=margin-top:70px>
											
											<p>현재 모금액:900만원</p>
											<p><span>: 목표액: 1200만원</span></p>
										</div>
										<div class="d-flex justify-content-between donation align-items-center">
											<a href="#" class="primary_btn">기부</a>
											<p>
												<span class="lnr lnr-cart"></span> cart
												<span class="lnr lnr-heart"></span> 150 Donors</p>
										</div>
									</div>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" height="500px" src="img/kid1.PNG" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<br><br>
								
								<h4 class="card-title">초록어린이재단-북한 어린이 빵급식 지원</h4>
								<p class="card-text">
								빵공장(어린이종합식료공장)운영을 통해 매일 10,000개의 빵을 생산하여 북한 어린이들과 나누고 있습니다. 굶주린 북한 어린이들을 위해 빵을 선물해 주세요
								</p>
								<div class="d-flex justify-content-between raised_goal" style=margin-top:30px>
									<p>현재 모금액:1000만원 </p>
									<p><span>현재 후원자:1000명</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary_btn">기부</a>
									<p>
										<span class="lnr lnr-cart"></span> cart
										<span class="lnr lnr-heart"></span> 77 Donors</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
						<div class="card-body">
								<figure>
										<img class="card-img-top img-fluid" src="img/picture2.JPG" alt="Card image cap">
									</figure>
									<div class="card_inner_body">
										<h5 style=color:pink>인기</h5>
										<h4 class="card-title">초록어린이재단-어린이교육</h4>
										<p class="card-text">
										아동이 건강한 사회인으로 성장 할 수 있도록 교육 및 학업에 관련한 비용을 지원합니다. 교재 교구비, 교복비, 학원비, 등하교 교통비를 지원합니다.
										 </p>
										 
										<div class="d-flex justify-content-between raised_goal">
											<p>현재모금액: 800만원</p>
											<p><span>목표액: 1000만원</span></p>
										</div>
										<div class="d-flex justify-content-between donation align-items-center">
											<a href="#" class="primary_btn">기부</a>
											<p>
											<span class="lnr lnr-cart"></span> cart
											<span class="lnr lnr-heart"></span> 100 Donors</p>
											
										</div>
									</div>
						</div>
					</div>
					<br>
					<a style='margin-left:280px ; font-size:20px' href="#" >more</a>
				</div>
			</div>
		</div>
    </section>
</body>
</html>