<section id="main_div" class="features_causes">
    <div class="container">
        <div class="main_title">
            <h2>기부 몰</h2>
            <p>후원자의 삶과 함께할 상품을 신중하게 선택하여 장바구니에 담아주세요</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <figure>
                            <img class="card-img-top img-fluid" src="img/picture2.JPG" alt="Card image cap">
                        </figure>
                        <div class="card_inner_body">
                            <h5 style=color:pink>인기</h5>
                            <h4 class="card-title">초록어린이재단-어린이교육</h4>

                            <p class="card-text">
                                아동이 건강한 사회인으로 성장 할 수 있도록 교육 및 학업에 관련한 비용을 지원합니다. 교재 교구비, 교복비, 학원비, 등하교 교통비를 지원합니다.
                            </p>
                            <br><br>
                            <div class="d-flex justify-content-between raised_goal">
                                <p>현재모금액: 800만원</p>
                                <p><span>목표액: 1000만원</span></p>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center">
                                <a href="/item_detail" class="primary_btn">기부</a>
                                <p>
                                    <span class="lnr lnr-cart"></span> cart
                                    <span class="lnr lnr-heart"></span> 100 Donors</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <figure>
                            <img class="card-img-top img-fluid" height="500px" src="img/picture1.jpg"
                                alt="Card image cap">
                        </figure>
                        <div class="card_inner_body">
                            <h5 style=color:pink>인기</h5>
                            <h4 class="card-title">동물행동권 카라-유기견보호</h4>
                            <p class="card-text">
                                구조된 동물들의 결연자가 되어주세요 단체에서 구조한 동물들중 나이가 많거나 완치가 어려운 질병이 있는 경우, 또는 성격상의 문제로 당장은 입양이 어려운
                                동물들의 최종 입양이 결정될 때까지 지속적인 후원을 하는 방식입니다.
                            </p>
                            <div class="d-flex justify-content-between raised_goal">
                                <p>현재 후원자: 100명 </p>
                                <p><span>기부금액:후원자 임의</span></p>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center">
                                <a href="#" class="primary_btn">기부</a>
                                <p>
                                    <span class="lnr lnr-cart"></span> cart
                                    <span class="lnr lnr-heart"></span> 77 Donors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <figure>
                            <img class="card-img-top img-fluid" src="img/picture3.JPG" alt="Card image cap">
                        </figure>
                        <div class="card_inner_body">
                            <br><br><br>
                            <h5 style=color:pink>special</h5>
                            <h4 class="card-title">희움-위안부할머니 의식팔찌</h4>
                            <p class="card-text">
                                판매 수익금 전액(제품제작의 제반비용을 제외한 수익금)은 일본국 '위안부' 문제해결 활동, 희움
                                일본군 '위안부' 역사관 운영기금으로 사용되며, 평화와 여성인권을 존중 하는 미래를 위해 사용합니다.
                                <h5 style="color:gray">판매가 2000원</h5>
                            </p>
                            <div class="d-flex justify-content-between raised_goal">
                                <p>현재 모금액:900만원</p>
                                <p><span>: 목표액: 1200만원</span></p>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center">
                                <a href="#" class="primary_btn">기부</a>
                                <p>
                                    <span class="lnr lnr-cart"></span> cart
                                    <span class="lnr lnr-heart"></span> 450 Donors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>